body{
  background-color: #deb887;
}
.navbar-dark {
     background-color: #6b8e23;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #deb887 ;
    color:floralwhite;
}
.jumbotronHeader {
    padding:70px 30px 70px 30px;
    margin:50px auto;
    background: #800000 ;
    color:floralwhite;
}


.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;


}
.content{
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.card h3{
  background-color: #6b8e23;
  color: #f0ffff;
}
